@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

main {
    background-color: aqua;
    height: 300px;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}

div.container {
    background-color: gray;

}

div.item {
    background-color: rgb(202, 201, 201);
    font-size: 2em;
}